<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.1.1" targetFramework="net461" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net461" />
  <package id="Moment.js" version="2.17.1" targetFramework="net461" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.8.3" targetFramework="net461" />
  <package id="toastr" version="2.1.1" targetFramework="net461" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.3.3" targetFramework="net461" />
</packages>